.child {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../public/assets/background-cat-2.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}